extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('create user') method='post')
    +input(user, 'firstName', t('views.users.new.labels.firstName'), errors)(type="text")
    +input(user, 'lastName', t('views.users.new.labels.lastName'), errors)(type="text")
    +input(user, 'email', t('views.users.new.labels.email'), errors)(type="text")
    +input(user, 'password', t('views.users.new.labels.password'), errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
