extends ../layouts/application.pug

block header
  = t('views.tasks.edit.header')

block content
  +formFor()(action=route('update task', { id: task.id }) method='post')
    input(name='_method' type='hidden' value='patch')
    +input(task, 'name', t('views.tasks.labels.name'), errors)(type="text")
    +input(task, 'description', t('views.tasks.labels.description'), errors)(type="text")
    +input(task, 'statusId', t('views.tasks.labels.statusId'), errors)(type="text")
    +input(task, 'executorId', t('views.tasks.labels.executorId'), errors)(type="text")
    +submit(task)(value=t('views.tasks.edit.submit'))
