extends ../layouts/application.pug

block content
  .card
    .card-body.p-5.bg-light
      .display-4= t('views.welcome.index.hello')
      h1= #result[0].id
      h2= #result[0].name
      p.lead= t('views.welcome.index.description')
      hr
      a.btn.btn-primary.btn-lg(href="https://hexlet.io")= t('views.welcome.index.more')
